%hover-opacity {
	transition: opacity 0.3s ease-in-out;
	opacity: 1;

	@media (hover: hover) {
		&:hover {
			opacity: 0.6;
		}
	}

	&:focus {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.4;
	}
}

%list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

%section-inner-offset {
	padding: clamp(24px, 3.2vw, 70px) 0;
}
