@mixin font-face($font-family, $url, $weight, $style) {
	@font-face {
		font-family: "#{$font-family}";
		src: url("../fonts/#{$url}.woff2") format("woff2");
		font-weight: #{$weight};
		font-display: swap;
		font-style: $style;
	}
}

@include font-face("Montserrat", "Montserrat-Light", 300, normal);
@include font-face("Montserrat", "Montserrat-Regular", 400, normal);
@include font-face("Montserrat", "Montserrat-Medium", 500, normal);
@include font-face("Montserrat", "Montserrat-SemiBold", 600, normal);
@include font-face("Montserrat", "Montserrat-Bold", 700, normal);
