@use "@scss-root/extends";
.header {
	padding: 10px 0;
	.container {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__top {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.offer-btn {
		margin-left: auto;
	}
}

// вынести в компонент поиска
.search-title {
	position: relative;
	display: flex;
	align-items: center;
	flex-grow: 1;
	height: 60px;
	border: 1px solid var(--gray-600);
	border-radius: 3px;
	overflow: hidden;
	padding-right: 60px;
	background-color: #f5f5f5;

	input {
		height: 100%;
		width: 100%;
		padding: 16px 20px;
		border: none;
		outline: none;
		background-color: transparent;
		color: var(--dark);
		font-size: 18px;

		&::placeholder {
			font-size: 18px;
			font-weight: 400;
			color: var(--gray-800);
		}
	}

	button {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);

		display: flex;
		align-items: center;
		justify-content: center;

		width: 60px;
		height: 60px;

		background-color: transparent;
		border: none;
		padding: 16px;
		@extend %hover-opacity;

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}
}

// вынести в компонент корзины
.cart-block {
	&__link {
		@extend %hover-opacity;

		img {
			width: 40px;
			height: 40px;
		}
	}
}
