@use "@scss-root/extends";

.main-nav {
	&__list {
		@extend %list-reset;
		display: flex;
		align-items: center;
		justify-content: space-between;

		gap: clamp(24px, 3.2vw, 60px);

		&-item {
			flex-grow: 1;
			max-width: 200px;
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 8px;
				min-height: 60px;
				text-decoration: none;
				text-transform: uppercase;
				padding: 16px clamp(16px, 3vw, 32px);
				font-size: 16px;
				font-weight: 600;
				color: var(--dark);
				background-color: var(--white);
				@extend %hover-opacity;
			}

			.catalog-opener {
				display: flex;
				align-items: center;
				gap: 8px;

				color: var(--white);
				background-color: var(--success);
			}
		}
	}
}
